version: 2.1
jobs:
  terraform_apply:
    working_directory: ~/tmp
    docker:
            - image: hashicorp/terraform:light
    environment:
            - AWS_ACCESS_KEY: $AWS_ACCESS_KEY
            - AWS_SECRET_KEY: $AWS_SECRET_KEY
    steps:
      - checkout
      - run:
          name: terraform init
          command: |
            terraform init
      - run:
          name: terraform apply
          command: |      
            terraform apply -auto-approve
      - store_artifacts:
          path: terraform.tfstate

  terraform_destroy:
    working_directory: ~/tmp
    docker:
            - image: hashicorp/terraform:light
    environment:
            - AWS_ACCESS_KEY: $AWS_ACCESS_KEY
            - AWS_SECRET_KEY: $AWS_SECRET_KEY        
    steps:
      - checkout
      - run:
          name: terraform destroy
          command: |
            terraform init
            terraform destroy -auto-approve
  

workflows:
  version: 2.1
  terraform:
    jobs:
      - terraform_apply
      - click_here_to_delete:
          type: approval
          requires:
            - terraform_apply
      - terraform_destroy:
          requires:
            - click_here_to_delete
    